@charset "utf-8";

/**********************************************
*Base(reset) style
**********************************************/
html, body {height:100%;}
html, body, blockquote, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr,
iframe, input, legend, li, object, ol, p, pre, q, select, table, textarea, ul, tr, td{ margin:0; padding:0}
ul, ol, li{list-style:none}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; margin:0; padding:0;}
body {font-size:14px; line-height:18px; font-family:'Noto Serif', "Malgun Gothic", "맑은고딕", "sans-serif"; color:#464646; -webkit-text-size-adjust: none;}

pre {font-family:'Noto Serif', "Malgun Gothic", "맑은고딕", "sans-serif";}

fieldset {display:block; margin:0; padding:0; border:0;}
legend {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
form {margin:0; padding:0;}

a, a:link, a:visited, a:active, a:hover {text-decoration:none; color:#464646;}

button {padding:0; margin:0; border:0; vertical-align:middle; background:none; font-family:'Noto Serif', "Malgun Gothic", "맑은고딕", "sans-serif"; cursor:pointer;}

img {border:0; vertical-align:middle;}

hr {display:none;}

em, address {font-style:normal;}

table {width:100%; border-collapse:collapse;}
caption {overflow:hidden; margin:0; padding:0; width:0; height:0; font-size:0; line-height:0;}

noscript {position:absolute; z-index:10; background:#efefef;}
noscript p {margin:0;}

.blind {position:absolute; left:-9999em; overflow:hidden; width:0; height:0; line-height:0;}

/* skip */
.skip ul{height:0}
.skip li a {display:block;position:absolute;top:0;left:-9999px;width:100%;text-align:center;z-index:1000;}
.skip li a:focus,
.skip li a:active {left:0;padding:10px 0; background:#1e7ede ;color:#fff;}

.dim {display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:url('../image/common/dim.png') repeat; z-index:9999;}

input.txtInput {box-sizing:border-box; height:34px; padding:0 5px; margin:0; line-height:31px; font-size:14px; outline:none; border:1px solid #dfdfdf; border-radius:3px; color:#464646; vertical-align:middle; font-family:'Noto Serif', "Malgun Gothic", "맑은고딕", "sans-serif"; box-shadow:none; -webkit-appearance:none;}
input.radio, 
input[type=radio] {width:13px !important; height:13px !important; margin:-1px 0 0 0; padding:0; border:0; vertical-align:middle; background:none;}
input.check,
input[type=checkbox] {width:13px !important; height:13px !important; margin:-1px 0 0; padding:0; border:0; vertical-align:middle; background:none;}
select.select {box-sizing:border-box; height:34px; padding:0 0 0 5px; margin:0; font-size:14px; color:#464646; border:1px solid #dfdfdf; border-radius:3px;  font-family:'Noto Serif', "Malgun Gothic", "맑은고딕", "sans-serif"; vertical-align:middle; /*background:url('../image/common/bg_form_select.gif') no-repeat right center;*/}
label.label{display:inline-block; font-size:14px;}
.txtAreaWrap {box-sizing:border-box; width:100%; padding:10px; border:1px solid #dfdfdf; border-radius:3px;}
.txtAreaWrap textarea {display:block; width:100%; height:100%; outline:none; border:none; resize:none;}

/**********************************************
**form - width:1200
**********************************************/
@media screen and (max-width:1200px) {
/*input.txtInput {height:45px; line-height:43px; font-size:18px;}
select.select {height:45px; padding:0 0 0 5px; margin:0; font-size:18px;}
label.label{font-size:18px;}*/
}

/**********************************************
**form - width:720
**********************************************/
@media screen and (max-width:720px) {
input.txtInput {height:27px; line-height:24px; font-size:12px;}
select.select {height:27px; padding:0 0 0 5px; margin:0; font-size:12px;}
label.label{font-size:12px;}
}

/**********************************************
*set
**********************************************/
.bold {font-weight:bold !important;}

/* color */
.point01 {color:#f34235 !important;}

/* text align */
.txtAlignR{text-align:right !important}
.txtAlignC{text-align:center !important}
.txtAlignL{text-align:left !important}

/* ele align */
.vAlignT{vertical-align:top !important}
.vAlignM{vertical-align:middle !important}
.vAlignB{vertical-align:bottom !important}

/* clipping */
.clipping{white-space:nowrap; text-overflow:ellipsis; overflow:hidden}

/* font weight */
.bold500 {font-weight:500 !important;}
.bold {font-weight:bold !important;}

/*padding set*/
.p0 {padding:0 !important;}
.p1 {padding:1px !important;}
.p2 {padding:2px !important;}
.p3 {padding:3px !important;}
.p4 {padding:4px !important;}
.p5 {padding:5px !important;}
.p6 {padding:6px !important;}
.p7 {padding:7px !important;}
.p8 {padding:8px !important;}
.p9 {padding:9px !important;}
.p10 {padding:10px !important;}
.p15 {padding:15px !important;}
.p20 {padding:20px !important;}
.p25 {padding:25px !important;}
.p30 {padding:30px !important;}
.p35 {padding:35px !important;}
.p40 {padding:40px !important;}
.p45 {padding:45px !important;}
.p50 {padding:50px !important;}
.p55 {padding:55px !important;}
.p60 {padding:60px !important;}
.p65 {padding:65px !important;}
.p70 {padding:70px !important;}
.p75 {padding:75px !important;}
.p80 {padding:80px !important;}
.p85 {padding:85px !important;}
.p90 {padding:90px !important;}
.p95 {padding:95px !important;}
.p100 {padding:100px !important;}

.pT0 {padding-top:0 !important;}
.pT1 {padding-top:1px !important;}
.pT2 {padding-top:2px !important;}
.pT3 {padding-top:3px !important;}
.pT4 {padding-top:4px !important;}
.pT5 {padding-top:5px !important;}
.pT6 {padding-top:6px !important;}
.pT7 {padding-top:7px !important;}
.pT8 {padding-top:8px !important;}
.pT9 {padding-top:9px !important;}
.pT10 {padding-top:10px !important;}
.pT15 {padding-top:15px !important;}
.pT20 {padding-top:20px !important;}
.pT25 {padding-top:25px !important;}
.pT30 {padding-top:30px !important;}
.pT35 {padding-top:35px !important;}
.pT40 {padding-top:40px !important;}
.pT45 {padding-top:45px !important;}
.pT50 {padding-top:50px !important;}
.pT55 {padding-top:55px !important;}
.pT60 {padding-top:60px !important;}
.pT65 {padding-top:65px !important;}
.pT70 {padding-top:70px !important;}
.pT75 {padding-top:75px !important;}
.pT80 {padding-top:80px !important;}
.pT85 {padding-top:85px !important;}
.pT90 {padding-top:90px !important;}
.pT95 {padding-top:95px !important;}
.pT100 {padding-top:100px !important;}

.pR0 {padding-right:0 !important;}
.pR1 {padding-right:1px !important;}
.pR2 {padding-right:2px !important;}
.pR3 {padding-right:3px !important;}
.pR4 {padding-right:4px !important;}
.pR5 {padding-right:5px !important;}
.pR6 {padding-right:6px !important;}
.pR7 {padding-right:7px !important;}
.pR8 {padding-right:8px !important;}
.pR9 {padding-right:9px !important;}
.pR10 {padding-right:10px !important;}
.pR15 {padding-right:15px !important;}
.pR20 {padding-right:20px !important;}
.pR25 {padding-right:25px !important;}
.pR30 {padding-right:30px !important;}
.pR35 {padding-right:35px !important;}
.pR40 {padding-right:40px !important;}
.pR45 {padding-right:45px !important;}
.pR50 {padding-right:50px !important;}
.pR55 {padding-right:55px !important;}
.pR60 {padding-right:60px !important;}
.pR65 {padding-right:65px !important;}
.pR70 {padding-right:70px !important;}
.pR75 {padding-right:75px !important;}
.pR80 {padding-right:80px !important;}
.pR85 {padding-right:85px !important;}
.pR90 {padding-right:90px !important;}
.pR95 {padding-right:95px !important;}
.pR100 {padding-right:100px !important;}

.pB0 {padding-bottom:0 !important;}
.pB1 {padding-bottom:1px !important;}
.pB2 {padding-bottom:2px !important;}
.pB3 {padding-bottom:3px !important;}
.pB4 {padding-bottom:4px !important;}
.pB5 {padding-bottom:5px !important;}
.pB6 {padding-bottom:6px !important;}
.pB7 {padding-bottom:7px !important;}
.pB8 {padding-bottom:8px !important;}
.pB9 {padding-bottom:9px !important;}
.pB10 {padding-bottom:10px !important;}
.pB15 {padding-bottom:15px !important;}
.pB20 {padding-bottom:20px !important;}
.pB25 {padding-bottom:25px !important;}
.pB30 {padding-bottom:30px !important;}
.pB35 {padding-bottom:35px !important;}
.pB40 {padding-bottom:40px !important;}
.pB45 {padding-bottom:45px !important;}
.pB50 {padding-bottom:50px !important;}
.pB55 {padding-bottom:55px !important;}
.pB60 {padding-bottom:60px !important;}
.pB65 {padding-bottom:65px !important;}
.pB70 {padding-bottom:70px !important;}
.pB75 {padding-bottom:75px !important;}
.pB80 {padding-bottom:80px !important;}
.pB85 {padding-bottom:85px !important;}
.pB90 {padding-bottom:90px !important;}
.pB95 {padding-bottom:95px !important;}
.pB100 {padding-bottom:100px !important;}

.pL0 {padding-left:0 !important;}
.pL1 {padding-left:1px !important;}
.pL2 {padding-left:2px !important;}
.pL3 {padding-left:3px !important;}
.pL4 {padding-left:4px !important;}
.pL5 {padding-left:5px !important;}
.pL6 {padding-left:6px !important;}
.pL7 {padding-left:7px !important;}
.pL8 {padding-left:8px !important;}
.pL9 {padding-left:9px !important;}
.pL10 {padding-left:10px !important;}
.pL15 {padding-left:15px !important;}
.pL20 {padding-left:20px !important;}
.pL25 {padding-left:25px !important;}
.pL30 {padding-left:30px !important;}
.pL35 {padding-left:35px !important;}
.pL40 {padding-left:40px !important;}
.pL45 {padding-left:45px !important;}
.pL50 {padding-left:50px !important;}
.pL55 {padding-left:55px !important;}
.pL60 {padding-left:60px !important;}
.pL65 {padding-left:65px !important;}
.pL70 {padding-left:70px !important;}
.pL75 {padding-left:75px !important;}
.pL80 {padding-left:80px !important;}
.pL85 {padding-left:85px !important;}
.pL90 {padding-left:90px !important;}
.pL95 {padding-left:95px !important;}
.pL100 {padding-left:100px !important;}

/*margin set*/
.m0 {margin:0 !important;}
.m1 {margin:1px !important;}
.m2 {margin:2px !important;}
.m3 {margin:3px !important;}
.m4 {margin:4px !important;}
.m5 {margin:5px !important;}
.m6 {margin:6px !important;}
.m7 {margin:7px !important;}
.m8 {margin:8px !important;}
.m9 {margin:9px !important;}
.m10 {margin:10px !important;}
.m15 {margin:15px !important;}
.m20 {margin:20px !important;}
.m25 {margin:25px !important;}
.m30 {margin:30px !important;}
.m35 {margin:35px !important;}
.m40 {margin:40px !important;}
.m45 {margin:45px !important;}
.m50 {margin:50px !important;}
.m55 {margin:55px !important;}
.m60 {margin:60px !important;}
.m65 {margin:65px !important;}
.m70 {margin:70px !important;}
.m75 {margin:75px !important;}
.m80 {margin:80px !important;}
.m85 {margin:85px !important;}
.m90 {margin:90px !important;}
.m95 {margin:95px !important;}
.m100 {margin:100px !important;}

.mT0 {margin-top:0 !important;}
.mT1 {margin-top:1px !important;}
.mT2 {margin-top:2px !important;}
.mT3 {margin-top:3px !important;}
.mT4 {margin-top:4px !important;}
.mT5 {margin-top:5px !important;}
.mT6 {margin-top:6px !important;}
.mT7 {margin-top:7px !important;}
.mT8 {margin-top:8px !important;}
.mT9 {margin-top:9px !important;}
.mT10 {margin-top:10px !important;}
.mT15 {margin-top:15px !important;}
.mT20 {margin-top:20px !important;}
.mT25 {margin-top:25px !important;}
.mT30 {margin-top:30px !important;}
.mT35 {margin-top:35px !important;}
.mT40 {margin-top:40px !important;}
.mT45 {margin-top:45px !important;}
.mT50 {margin-top:50px !important;}
.mT55 {margin-top:55px !important;}
.mT60 {margin-top:60px !important;}
.mT65 {margin-top:65px !important;}
.mT70 {margin-top:70px !important;}
.mT75 {margin-top:75px !important;}
.mT80 {margin-top:80px !important;}
.mT85 {margin-top:85px !important;}
.mT90 {margin-top:90px !important;}
.mT95 {margin-top:95px !important;}
.mT100 {margin-top:100px !important;}
.mT382 {margin-top:382px !important;}

.mR0 {margin-right:0 !important;}
.mR1 {margin-right:1px !important;}
.mR2 {margin-right:2px !important;}
.mR3 {margin-right:3px !important;}
.mR4 {margin-right:4px !important;}
.mR5 {margin-right:5px !important;}
.mR6 {margin-right:6px !important;}
.mR7 {margin-right:7px !important;}
.mR8 {margin-right:8px !important;}
.mR9 {margin-right:9px !important;}
.mR10 {margin-right:10px !important;}
.mR15 {margin-right:15px !important;}
.mR20 {margin-right:20px !important;}
.mR25 {margin-right:25px !important;}
.mR30 {margin-right:30px !important;}
.mR35 {margin-right:35px !important;}
.mR40 {margin-right:40px !important;}
.mR45 {margin-right:45px !important;}
.mR50 {margin-right:50px !important;}
.mR55 {margin-right:55px !important;}
.mR60 {margin-right:60px !important;}
.mR65 {margin-right:65px !important;}
.mR70 {margin-right:70px !important;}
.mR75 {margin-right:75px !important;}
.mR80 {margin-right:80px !important;}
.mR85 {margin-right:85px !important;}
.mR90 {margin-right:90px !important;}
.mR95 {margin-right:95px !important;}
.mR100 {margin-right:100px !important;}

.mB0 {margin-bottom:0 !important;}
.mB1 {margin-bottom:1px !important;}
.mB2 {margin-bottom:2px !important;}
.mB3 {margin-bottom:3px !important;}
.mB4 {margin-bottom:4px !important;}
.mB5 {margin-bottom:5px !important;}
.mB6 {margin-bottom:6px !important;}
.mB7 {margin-bottom:7px !important;}
.mB8 {margin-bottom:8px !important;}
.mB9 {margin-bottom:9px !important;}
.mB10 {margin-bottom:10px !important;}
.mB15 {margin-bottom:15px !important;}
.mB20 {margin-bottom:20px !important;}
.mB25 {margin-bottom:25px !important;}
.mB30 {margin-bottom:30px !important;}
.mB35 {margin-bottom:35px !important;}
.mB40 {margin-bottom:40px !important;}
.mB45 {margin-bottom:45px !important;}
.mB50 {margin-bottom:50px !important;}
.mB55 {margin-bottom:55px !important;}
.mB60 {margin-bottom:60px !important;}
.mB65 {margin-bottom:65px !important;}
.mB70 {margin-bottom:70px !important;}
.mB75 {margin-bottom:75px !important;}
.mB80 {margin-bottom:80px !important;}
.mB85 {margin-bottom:85px !important;}
.mB90 {margin-bottom:90px !important;}
.mB95 {margin-bottom:95px !important;}
.mB100 {margin-bottom:100px !important;}

.mL0 {margin-left:0 !important;}
.mL1 {margin-left:1px !important;}
.mL2 {margin-left:2px !important;}
.mL3 {margin-left:3px !important;}
.mL4 {margin-left:4px !important;}
.mL5 {margin-left:5px !important;}
.mL6 {margin-left:6px !important;}
.mL7 {margin-left:7px !important;}
.mL8 {margin-left:8px !important;}
.mL9 {margin-left:9px !important;}
.mL10 {margin-left:10px !important;}
.mL15 {margin-left:15px !important;}
.mL20 {margin-left:20px !important;}
.mL25 {margin-left:25px !important;}
.mL30 {margin-left:30px !important;}
.mL35 {margin-left:35px !important;}
.mL40 {margin-left:40px !important;}
.mL45 {margin-left:45px !important;}
.mL50 {margin-left:50px !important;}
.mL55 {margin-left:55px !important;}
.mL60 {margin-left:60px !important;}
.mL65 {margin-left:65px !important;}
.mL70 {margin-left:70px !important;}
.mL75 {margin-left:75px !important;}
.mL80 {margin-left:80px !important;}
.mL85 {margin-left:85px !important;}
.mL90 {margin-left:90px !important;}
.mL95 {margin-left:95px !important;}
.mL100 {margin-left:100px !important;}

/********************************************************************
* fonts
********************************************************************/
@font-face {
	font-family: 'Noto Serif';
	src: url('../font/NotoSerif-Regular-webfont.eot');
	src: url('../font/NotoSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSerif-Regular-webfont.woff') format('woff'),
		url('../font/NotoSerif-Regular-webfont.ttf') format('truetype'),
		url('../font/NotoSerif-Regular-webfont.svg#noto_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Serif';
	src: url('../font/NotoSerif-Bold-webfont.eot');
	src: url('../font/NotoSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSerif-Bold-webfont.woff') format('woff'),
		url('../font/NotoSerif-Bold-webfont.ttf') format('truetype'),
		url('../font/NotoSerif-Bold-webfont.svg#noto_serifbold') format('svg');
	font-weight: normal;
	font-style: bold;
}